<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.bigtian.mapper.PayOrderMapper">


    <resultMap type="com.ruoyi.bigtian.domain.PayOrder" id="PayOrderResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="parkId"    column="park_id"    />
        <result property="status"    column="status"    />
    </resultMap>

    <sql id="selectPayOrderVo">
        select id, user_id, create_time, park_id, status from t_pay_order
    </sql>

    <select id="selectPayOrderList" parameterType="PayOrder" resultMap="PayOrderResult">
        <include refid="selectPayOrderVo"/>
        <where>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="parkId != null "> and park_id = #{parkId}</if>
            <if test="status != null "> and status = #{status}</if>
        </where>
        order by create_time desc
    </select>

    <select id="selectPayOrderById" parameterType="Long" resultMap="PayOrderResult">
        <include refid="selectPayOrderVo"/>
        where id = #{id}
    </select>

    <insert id="insertPayOrder" parameterType="PayOrder">
        insert into t_pay_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="userId != null">user_id,</if>
            <if test="createTime != null">create_time,</if>
            <if test="parkId != null">park_id,</if>
            <if test="status != null">status,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="userId != null">#{userId},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="parkId != null">#{parkId},</if>
            <if test="status != null">#{status},</if>
         </trim>
    </insert>

    <update id="updatePayOrder" parameterType="PayOrder">
        update t_pay_order
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="parkId != null">park_id = #{parkId},</if>
            <if test="status != null">status = #{status},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deletePayOrderById" parameterType="Long">
        delete from t_pay_order where id = #{id}
    </delete>

    <delete id="deletePayOrderByIds" parameterType="String">
        delete from t_pay_order where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>